.DS_Store
.idea
.vscode
.env
.env.testing
.env.backup
.env.production
.phpunit.result.cache
phpunit.dusk.xml
auth.json

# Dependencies and build artifacts
vendor/
node_modules/
dist/
.output/
.nuxt/
.platform-verification/
.dart_tool/
.dart-tool/
.flutter-appdata/
.dart-appdata/
.appdata-ci/
.gradle-ci/
.flutter-plugins
.flutter-plugins-dependencies
.flutter_tool_state
build/
*.iml
*.log

# TastyIgniter / Laravel storage
/public/vendor
/public/storage
/storage/*.key
/storage/clockwork
/storage/logs/*.log
/_ide_helper.php
